.display-control-btn {
    display: inline-block;
    padding: 20px;
    font-family: 'ralewaymedium', sans-serif;
    font-size: .75rem;
    line-height: 1em;
    color: #999da5;
    text-transform: uppercase;
    border: $authBorder;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .06);

    &.active {
        color: #fff;
        background-color: $basicBlue;
        border-color:  $basicBlue;
        box-shadow: none;
    }

    &:first-child {
        border-right: none;
    }

    &:last-child {
        border-left: none;
        border-radius: 0 2px 2px 0;
    }
}