%btn {
    display: inline-block;
    font-size: .75rem;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, .06); 
}

.submit-btn {
    @extend %btn;
    position: relative;
    padding: 20px 30px;
    border-color: #c1defd;
    font-family: 'ralewaysemibold', sans-serif;
    color: $basicBlue;
    overflow: hidden;
    transition: all .2s ease-in .2s;

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        @include absolute-to-top(0px, -1px);
        content: "";
        right: 0;
        height: 100%;
        background-color: $basicBlue;
        transform: translateX(-100%);
        transition: all .2s ease-in;
    }

    &:hover {
        span {
            color: #fff;
        }
    }

    &:hover::before {
        transform: translateX(0);
    }
}