#header {
    @include fixed-to-top;
    width: 100%;
    padding: 19px 39px 19px $asideWidth;
    z-index: 90;
    background-color: $headerBg;
    border: $headerBorder;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .1);

    .header-content {
        padding-left: 39px;
        
        form {
            label {
                font-family: 'ralewayregular', sans-serif;
                font-size: .875rem;
                color: #9da0a4;
            }
        }

        .user-controls {
            .dropdown-items-wrap {
                padding: 5px 30px;
                border-left: $headerBorder;
                border-right: $headerBorder;

                .dropdown-item {
                    
                    & + .dropdown-item {
                        margin-left: 20px;
                    }

                    .dropdown-controls {
                        position: relative;
                        width: $dropdownWidth;
                        height: $dropdownHeight;
                        font-size: .875rem;
                        color: #91969f;
                        background-color: $dropdownBg;
                        border-radius: 50%;
                        cursor: pointer;

                        .notify-count {
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            width: $notifyWidth;
                            height: $notifyHeigth;
                            font-size: .8125rem;
                            color: #fff;
                            text-align: center;
                            line-height: 19px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .user-dropdown-control {
                margin-left: 40px;

                img {
                    width: 49px;
                    height: 49px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

    }
}