#header {
    @include fixed-to-top;
    width: 100%;
    padding-left: $asideWidth;
    z-index: 90;
    background-color: $headerBg;
    border: $headerBorder;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .1);

    &.header-login {
        padding-left: 39px;

        @media(max-width: 576px) {
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
        }

        .menu-btn {
            margin-left: 75px;
            margin-right: 20px;
        }

        .header-content {
            width: 100%;
            border-left: $headerBorder;

            @media(max-width: 991px) {
                flex-direction: column;
            }

            @media(max-width: 576px) {
                padding-left: 10px;
                padding-right: 10px;
            }

            form {
                @media(max-width: 991px) {
                    order: 1;
                }
            }

            .user-controls {

                @media(max-width: 991px) {
                    margin-left: 0;
                    margin-bottom: 30px;
                }

            }
        }
    }

    .header-content {
        padding: 19px 39px;
        
        form {
            label {
                font-family: $basicFontFamily;
                font-size: .875rem;
                color: #9da0a4;
                margin-bottom: 0;
            }
        }

        .user-controls {
            .dropdown-items-wrap {
                padding: 5px 30px;
                border-left: $headerBorder;
                border-right: $headerBorder;

                .dropdown-item {
                    
                    & + .dropdown-item {
                        margin-left: 20px;
                    }

                    .dropdown-controls {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        font-size: .875rem;
                        color: #91969f;
                        background-color: $dropdownBg;
                        border-radius: 50%;
                        cursor: pointer;

                        .notify-count {
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            width: 19px;
                            height: 19px;
                            font-size: .8125rem;
                            color: #fff;
                            text-align: center;
                            line-height: 19px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .user-dropdown-control {
                margin-left: 40px;

                img {
                    width: 49px;
                    height: 49px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

    }

}