// Fonts
$basicFontFamily: 'ralewayregular', sans-serif;
$basicFontSize: 16px;
$basicBodyBg: #f8f8f8;
$basicTextColor: #76797e;

// Basic Colors
$basicBlue: #1585ff;
$basicRed: #ff7473;
$basicGreen: #0ac51b;
$basicGrey: #f9f9f9;

// Header
$headerBg: #fff;
$headerBorder: 1px solid #e5e8ee;

// Search input
$searchInputWidth: 200px;

// Dropdown 
$dropdownBg: #f4f4f4;

// Aside
$asideWidth: 290px;
$asideBg: #fff;
$mobileAsideWidth: 70px;

// Page-header
$pageHeaderHeight: 120px;

//Buttons
// $settingsBtnBg: #f9f9f9;
$menuBtnBg: #9a9fa7;
$sendMessageBg: #1d2025;





// Small chart 
$basicSmallChartBg: #979fad;



//Auth-container
$authWidth: 770px;
$authBorder: 1px solid #eceff3;

//Form 
// $formControlBg: #f9f9f9;

//Social icon
$socialIconWidth: 36px;
$socialIconHeigth: 36px;
$socialIconBlue: #4267b2;
$socialIconRed: #db4437;
$socialIconLigthblue: #1da1f2;

// Cards
$cardBg: #fff;

// Comment text 
// $commentBg: #f9f9f9;

// Progress bar
// $progressPl: 3px;
// $progressPr: 3px;
// $progressBorderWidth: 23px;

// Profile info
$profileInfoBorder: 1px solid #ebebeb;

// Footer 
$footerBg: #f0f0f0;