// Fonts
$basicFontFamily: 'ralewayregular', sans-serif;
$basicFontSize: 16px;
$basicBodyBg: #f8f8f8;
$basicTextColor: #76797e;

// Basic Colors
$basicBlue: #1585ff;
$basicRed: #ff7473;
$basicGreen: #0ac51b;

// Aside
$asideWidth: 290px;
$asideBg: #fff;

//Buttons
$settingsBtnBg: #f9f9f9;
$menuBtnBg: #9a9fa7;

// Header
$headerBg: #fff;
$headerBorder: 1px solid #e5e8ee;

// Search input
$searchInputWidth: 200px;

// Small chart 
$basicSmallChartBg: #979fad;

// Dropdown 
$dropdownWidth: 40px;
$dropdownHeight: 40px;
$dropdownBg: #f4f4f4;
$notifyWidth: 19px;
$notifyHeigth: 19px;

//Auth-container
$authWidth: 770px;
$authBorder: 1px solid #eceff3;

//Btn border
$btnBorder: 1px solid transparent;

//Form 
$formControlBg: #f9f9f9;

//Social icon
$socialIconWidth: 36px;
$socialIconHeigth: 36px;
$socialIconBlue: #4267b2;
$socialIconRed: #db4437;
$socialIconLigthblue: #1da1f2;
